<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbname</param-name>
        <param-value>javapeda</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.ServletListener</listener-class>
    </listener>
    <description>Caucho Technology's PHP Implementation</description>
    <servlet>
        <servlet-name>Quercus Servlet</servlet-name>
        <servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
        <init-param>
            <param-name>license-directory</param-name>
            <param-value>WEB-INF/licenses</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>controller.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardControl</servlet-name>
        <servlet-class>controller.DashboardControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeachingControl</servlet-name>
        <servlet-class>controller.TeachingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentControl</servlet-name>
        <servlet-class>controller.AssessmentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionHandler</servlet-name>
        <servlet-class>controller.QuestionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubtopicUserProgressControl</servlet-name>
        <servlet-class>controller.SubtopicUserProgressControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentUserProgressControl</servlet-name>
        <servlet-class>controller.AssessmentUserProgressControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Quercus Servlet</servlet-name>
        <url-pattern>*.php</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegControl</servlet-name>
        <servlet-class>controller.RegControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegControl</servlet-name>
        <url-pattern>/RegControl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/LogoutControl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardControl</servlet-name>
        <url-pattern>/DashboardControl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeachingControl</servlet-name>
        <url-pattern>/TeachingControl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentControl</servlet-name>
        <url-pattern>/AssessmentControl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionHandler</servlet-name>
        <url-pattern>/QuestionHandler.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubtopicUserProgressControl</servlet-name>
        <url-pattern>/SubtopicUserProgressControl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentUserProgressControl</servlet-name>
        <url-pattern>/AssessmentUserProgressControl.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
